* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365, #fda085);
  color: white;
  height: 100vh;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 20vh;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  margin: 10px 0;
  border: none;
  background: white;
}

form button {
  color: #d88771;
  background-color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background-color: #d88771;
  color: white;
}

.book-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-list {
  list-style: none;
  min-width: 30%;
}

.book {
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all 0.5s ease;
}

.book li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: #ff6f47;
  font-size: 1rem;
  padding: 1rem;
  color: white;
  border: none;
  cursor: pointer;
}

.complete-btn {
  background-color: rgb(73, 204, 73);
}

.book-item {
  padding: 0 0.5rem;
}

.fa-trash {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
